# Lect_001

Comments, Escape Sequence and Print Statements.

In [2]:
# This is first comment example.
print("Hello World !!!!")

'''
Multi line comment example. 
With triple qoute we can comment multiple lines.
'''

# end is merging last print line.
print("This is first print.", end="")
print("This is second print.")

# end with space.
print("This is first print.", end=" ")
print("This is second print.")

#end with comma
print("This is first print", end=",")
print("This is second print.")

# agar end=" " istemaal kiye to use line me likha jaega 

# Now Singhal ab new line me print hoga.
print("hello i will write my name in the next sequance \nSinghalpuri07")
print("hii")

Hello World !!!!
This is first print.This is second print.
This is first print. This is second print.
This is first print,This is second print.
hello i will write my name in the next sequance
Singhalpuri07
hii

# Lect_002

str() int() float()

In [5]:
var1 = "Hello World !!" # String Variable jo double quote ke andar hai wo hamesa string hi rhta hai
var2 = "4"              # Integer Variable
var3 = 38.2             # Float Variable
var4 = "Singhal"        # String Variable
var5 = "10"             # Integer Variable


print(var1)           #ye print kr dega hello world ko 
print(type(var1))     #ye print hello world ko nhi karega balki uska type batayega means string
print(var1 + var2)    #ye to bs dono ko direct print kr dega ( hello world 4)
print(var1 + var4)    #same kahani 
#print(var2 + var3) #Run nhi hoha kyuki hm ek string aur ek float ko add krna cha rhe hai. agla line run karega.
print(int(var2) + var3)

# print(var2+var5) 
# now it is concatenating matlab error show kr dega bhai kyu kyuki maschine usko int ke form me nhi le rha. to usko int banao bhai.
# now  agla line kro run karega try kro 

print(int(var2) + int(var5)) # Type casting example. Ye run karega.




print(10 * "Hello World !!!\n")             # Iske through hello world 10 times print hoga
print(100 * (int(var5) + int(var2)))        # int(var5) + int(var2) iska value 14 aega ab usko bhi ham multiply kr sakte hai. ans is 1400
print(100 * str(int(var5) + int(var2)))     # add hone baad wo 14 bana jisko ham str() iska matlab ab maschine 14 ko 100 times likh dega

Hello World !!
<class 'str'>
Hello World !!4
Hello World !!Singhal
42.2
14
Hello World !!!
Hello World !!!
Hello World !!!
Hello World !!!
Hello World !!!
Hello World !!!
Hello World !!!
Hello World !!!
Hello World !!!
Hello World !!!

1400
14141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414141414

# Lect_003

So ab padhenge String Slicing And Other Functions. to first ek string lenge.

In [8]:
mystr = "python is very vast language."                          

'''1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29        Ye Hmlog padhega

   p y t h o n   i s     v  e  r  y     v  a  s  t     l  a  n  g  u  a  g  e  .

   0 1 2 3 4 5 6 7 8 9   10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29    ye maschine Padhega   '''

"to ab alag alag function ka using samajhte hai"

print(len(mystr)) # iska use str me kita length hai wo nikalne ke liye hoga.

print(mystr[0:6]) # iska use alphabet me 0-6 tak yani 1-6 alphabets hai usko niaklne ke liye hoga.

print(mystr.count("vast"))  # strig ke jitne words likhoge uska count batayga.

print(mystr[0:6:2]) # skipping karega alphabets me 1-6 me wo 1-3-5 show karega.

print(mystr[::3]) # alphabet print karega suru se end tak bs skipping 3 ka hoga.

print(mystr[::-3]) # alphabet print karega end se suru tak bs skipping 3 ka hoga.

print(mystr.endswith("language.")) # fn. check karega ki word available hai ki nhi hoga to false warna True

print(mystr.capitalize()) # statement ke first word ke first alphabet ko capitak kr dega.

print(mystr.find("very")) # statement ko khojega aur batayga ki kis no. pr present hai.

print(mystr.lower()) # complete sentence ko ye fn. lower alphabet me likh dega.

print(mystr.upper()) # complete sentence ko ye fn. UPPER alphabet me likh dega.

print(mystr.replace("very", "a")) # Replace krne wala fn. hai.

29
python
1
pto
ph  rvtaue
.an ayvioy
True
Python is very vast language.
10
python is very vast language.
PYTHON IS VERY VAST LANGUAGE.
python is a vast language.

# Lect_004

Lists aur Lists ke Function ko Samjhte hai.

In [11]:
laptop = ["ram", "battery", "hdd", "led", "wifi", "mouse", 227]

print(laptop[5]) # lists ke 5 yani 6 positiosn wala str. print karega.

numbers = [2, 8, 9, 11, 67, 7]

print(numbers[4]) # lists ke 4 yani 5 positiosn wala int. print karega.
print(numbers[1:4]) # print karega lists ke andar wale integer ko jo 1 se 4 tk ho yani 1 wale 2 wale aur 3 wale tak bs.

# lists ka Max and Min kaise nikale.
print(max(numbers)) # lists ke maximum value wale ke no. ko print karega.
print(min(numbers)) # lists ke minimum value wale ke no. ko print karega.


# lists ka Alat palat ka kaam kaise kare me.
numbers.sort() # sort() fn. ka use lists ke no. ko accending order me daalne ke liye.
print(numbers)
numbers.reverse()  # reverse() fn same hai sort() ka bs list ko palat deta hai.
print(numbers)


#Numbers ko add kaise kare lists me.
numbers.append('10')           #append() ka use kiye kisi bhi no. ya string ko add krne ke liye.
numbers.append('singhal')
numbers.append('1987')
print(numbers)


#lists me index ke hisab se no. ko replace kaise kare.
numbers.insert(1, 54) # list.insert(index no. , change kya krna hai) use hota hai index by replace property ke liye.
numbers.insert(2, 74)
numbers.insert(3, 78)
print(numbers)


#lists me no. ko delete kaise kare.
numbers.pop(1)    #matlab index 1 wala No. delete hoga lists me se.
print(numbers)


#Tuples ka use kaise hota hai!!!
numbers[1] = 227 #tuples basically replacement ka kaam krta hai bs number[index No.] = any No. and yupp you got your new lists.
print(numbers)

Singhal = (1, 2, 3)
print(type(Singhal))
print(Singhal)

# Number Swwapping kaise krte hai.
a = 1
b = 2
a, b = b, a
print(a, b)

mouse
67
[8, 9, 11]
67
2
[2, 7, 8, 9, 11, 67]
[67, 11, 9, 8, 7, 2]
[67, 11, 9, 8, 7, 2, '10', 'singhal', '1987']
[67, 54, 74, 78, 11, 9, 8, 7, 2, '10', 'singhal', '1987']
[67, 74, 78, 11, 9, 8, 7, 2, '10', 'singhal', '1987']
[67, 227, 78, 11, 9, 8, 7, 2, '10', 'singhal', '1987']
<class 'tuple'>
(1, 2, 3)
2 1

# Lect_005

Lets talk about Dictionaries.

Structure:
d1 = {"Name" :" Singhal puri"}
print(type(d1))
print(d1)

In [14]:
d2 = { "2017": "Maaya",
       "2016": "Naagin",
       "web-series": {"1":"Sacred Games", "2":"Mirzapur", "3":"Deadpool 2"}}      # pehle ek dictionary banaye.
d2["2018"] = "Simba"      # dictionary me add krne ke liye use krte hai.  

print(d2["web-series"])   # dictionary ke andar webseries me kya hai print krne ke use krte hai.
print(d2)                 # Now print krte hai to final output milega.

del d2 ['2018']           # Kuch delete krna hai dictionary se tb use kro.
print(d2)                 # Now print krte hai to final output milega.
#print(d2["2018"])         # ye type kroge to error batayega.


d3 = d2.copy()            # ye ek naya dictionary bana dega jo ki d2 se copy hoga.
del d3["2017"]            # ye d3 ka 2017 ka elemnt ko delete hoga.
print(d3)


print(d2.get("2017"))     # Apne dictionary se kuch output chahiye tb use kro.


d2.update({"Amit":"Lazy Person"})    # Dictionary me kuch update  krna hai tb use kro
print(d2)                             # Get your final result.

print(d2.keys())
print(d2.items())

{'1': 'Sacred Games', '2': 'Mirzapur', '3': 'Deadpool 2'}
{'2017': 'Maaya', '2016': 'Naagin', 'web-series': {'1': 'Sacred Games', '2': 'Mirzapur', '3': 'Deadpool 2'}, '2018': 'Simba'}
{'2017': 'Maaya', '2016': 'Naagin', 'web-series': {'1': 'Sacred Games', '2': 'Mirzapur', '3': 'Deadpool 2'}}
{'2016': 'Naagin', 'web-series': {'1': 'Sacred Games', '2': 'Mirzapur', '3': 'Deadpool 2'}}
Maaya
{'2017': 'Maaya', '2016': 'Naagin', 'web-series': {'1': 'Sacred Games', '2': 'Mirzapur', '3': 'Deadpool 2'}, 'Amit': 'Lazy Person'}
dict_keys(['2017', '2016', 'web-series', 'Amit'])
dict_items([('2017', 'Maaya'), ('2016', 'Naagin'), ('web-series', {'1': 'Sacred Games', '2': 'Mirzapur', '3': 'Deadpool 2'}), ('Amit', 'Lazy Person')])

# Lect_006

set function ka Use !!!  
   1)sets me kaise bhi no. ko likh print me wo sahi kr dega aacendinge order me.
   2) koi bhi duplicate no. pr error show kr dega.

In [17]:
s1 = set([10,8,3,4,5,6,7,9,1,2,"Singhal"])    
s2 = set([10,200,300])
s3 = {5,4,6,7,8}
s4 = {1,2,3,4,5}         # Sets likhne ka dusra trika.
print(s1)                # Mera set1 ko print kr dega.
print(s2)                # Mera set2 ko print kr dega.
print(s3)                # Mera set3 ko print kr dega.     
print(type(s1))          # Mere set1 ka type print karega jo ki set hai.
print(len(s1))           # Mere Set1 me kitna elements hai wo likh dega.

# Elements remove kaise kare.
s1.remove("Singhal")
print(s1)          

# Elements add kaise kare.
s1.add(11)
print(s1)

# Elements ko ek baar me clear kaise kare.
s1.clear()
print(s1)

'''union aur intersection function s3 aur s4 ke liye hi kaam karega 
   s1 aur s2 ke liye nhi karega kyuki wo old version ka typing hai'''

# Elemnts ka Union lete hai.
s5 = s4.union(s3)
print(s4)

# Elements ka intersection lete hai.
s6 = s3.intersection(s4)
print(s6)

s6 = s3 | s4
print(s6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Singhal'}
{200, 10, 300}
{4, 5, 6, 7, 8}
<class 'set'>
11
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
set()
{1, 2, 3, 4, 5}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

# Lect_007

if-else & Elif use krte hai.

In [20]:
num1 = int(input("Enter your 1st Number : "))
num2 = int(input("Enter your 2nd Number : "))
num3 = int(input("Enter your 3rd Number : "))
if num1>num2:
    print("number 1 is Greater than 2.")
elif num1<num2:
    print("number 1 is lesser than 2.")
elif num1==num2:
    print("Equal")    
elif num1>num3:
    print("number 1 is Greater than 3.")    
elif num1<num3:
    print("number 1 is lesser than 3.")   
elif num1==num3:
    print("number 1 is equal to number 3")     
elif num2>num3:
    print("number 2 is Greater than 3.")    
elif num2<num3:
    print("number 2 is lesser than 3.")   
elif num2==num3:
    print("number 2 is equal to number 3")        
else:
      print("Your input is wrong")



'''A Programm for checking NUmber is in list or not '''

list1 = [5, 7, 3]
print(5 in list1)
if 5 in list1:
  print("Yes, it is in the list.")


''' A programm For Eligibility for driving '''

age1 = int(input("Enter your Age : "))
if age1>18:
    print("Eligible for driving.")
elif age1==18:
    print("Please came back after sometime.")
else:
    print("Not Eligible for driving.")

Enter your 1st Number :  25
Enter your 2nd Number :  52
Enter your 3rd Number :  15

number 1 is lesser than 2.
True
Yes, it is in the list.

Enter your Age :  18

Please came back after sometime.

# Lect_008

For loops in Python.

In [23]:
list1 = ["Rahul", "Dheeraj", "Avinash", "Tia"]
for item in list1:
  print(item)
list2 = [ ["Rahul", 1], ["Dheeraj", 2], ["Avinash", 3], ["Tia", 4] ]
for item in list2:
  print(item)

dict1 = dict(list2)                  # Lists Se Dictionary Kaise Banaye
print(dict1)

#for item, rank in dict1.items():     # Item ka istemaal.
#     print(item,"rank is", rank)

#for item in dict1:                    # Jo Naya Dictionary Bana hai uska Item ko Print Kr dega.
#     print(item)

items = [int, float, "Rahul", 26, 45, 54, 78, 74, 3, 5]
for item in items:                           # Items me jo special hai usko print Kr wa diye.
    if str(item).isnumeric() and item >= 3:
        print(item)

Rahul
Dheeraj
Avinash
Tia
['Rahul', 1]
['Dheeraj', 2]
['Avinash', 3]
['Tia', 4]
{'Rahul': 1, 'Dheeraj': 2, 'Avinash': 3, 'Tia': 4}
26
45
54
78
74
3
5

# Lect_009

while loop.

In [28]:
i = 0
while (i < 10):
    print(i)
    i = i + 1    # Agar 1 ke jagah 2 likhe ro bs 2 ka Diff. aa jaega.

0
1
2
3
4
5
6
7
8
9

# Lect_010

break and continue statement.

In [33]:
i = 0

while(True):
    if i+1<5:
        i = i + 1
        continue
    print(i + 1, end=" ")
    if (i==50):
        break
    i = i + 1 


while(True):
    num = int(input("Enter a number: "))
    if num>100:
        print("Congratulations, You entered a number greater than 100.")
        break
    else:
        print("Try again.\n")
        continue
        #i = i + 1'''

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51

Enter a number:  105

Congratulations, You entered a number greater than 100.

# Lect_011

Operators in Python.

In [36]:
##Arithmetic Operators.
#print("5 + 6 is ", 5+6)
#print("5 - 6 is ", 5-6)
#print("5 * 6 is ", 5*6)
#print("5 / 6 is ", 5/6)
#print("5 ** 6 is ", 5**6)
#print("15 // 6 is ", 15//6)
# Assignment Operators.
#x = 5
#print(x)#
#x %= 7
#print(x)
# Comparison Operators.
#i = 5
#print(i>=5)
#print(i <= 4)
#Logical Operators.
#a = True
#b = False#
#print(a and a)
#print(a and b)
#print(a or b)
# Identity Operators.
#print (a is not b)
#print (5 is not 5)
#print (1 is not 5)
# Membership Operators.
#list = [3, 2, 21, 22, 89, 76, 93, 45]
#print(324 not in list)
# Bitwise Operators.

# Lect_012

Use Of Def In Python

In [39]:
# Define a function to greet a user
def greet(name):
    print(f"Hello, {name}! Welcome to the world of Python.")

# Function ko call karo argument ke through
greet("User")

Hello, User! Welcome to the world of Python.

# Lect_013

Try and Except in python

In [42]:
print("Please enter Num1: ")
num1 = input()

print("Please enter Num2: ")
num2 = input()
try:
    print("The sum of 2 numbers: ", int(num1) + int(num2))
except Exception as e:
    print(e)

print("This line is very IMP.")

Please enter Num1:

 25

Please enter Num2:

 11

The sum of 2 numbers:  36
This line is very IMP.

# Lect_14